@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap');

.permanent-marker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.rock-salt {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.site-logo {
  height: 88px;
  margin-bottom: 6rem;
  max-width: 130px;
  min-width: 88px;
}

.oth-header {
  .site-name {
    font-size: xxx-large;
    line-height: unset;
  }

  .breadcrumb {
    background: none;
  }

  .social-sharing-buttons {
    margin: 0;
  }
}

header .oth-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 11rem;
}

footer {
  .oth-header {
    align-content: center;
    color: variables.$lightgray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &.site-footer {
    text-align: center;
  }
}

#block-oth-main-menu {
  border-bottom: 1px solid variables.$black;
  border-top: 1px solid variables.$black;
  width: 100%;
}

#block-oth-copyright,
#block-oth-poweredbydrupal {
  .oth-header {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: anchor-center;
    display: inline-flex;
  }
}

article {
  .field--name-field-tags {
    &.field--type-entity-reference {
      background: none;
      display: flex;
      flex-direction: row;

      .field__items {
        display: inline-flex;
        gap: .5rem;

        a {
          background: variables.$lavender;
        }
      }

      div:first-child {
        margin-right: .5rem;
      }
    }

    .field__item {
      border-radius: 6px;
      border: 1px solid variables.$black;
      margin-bottom: 1rem;
      width: fit-content;
      padding-left: .5rem;
      padding-right: .5rem;
      background: variables.$lavender;
    }
  }

  .field--name-field-at-a-glance {
    .field__item span {
      background: variables.$lavender;
      border-radius: 6px;
      border: 1px solid variables.$black;
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      width: fit-content;
    }

    .grid-cell:nth-child(2) {
      display: inline-flex;
      gap: .5rem;
    }
  }

  .accessibility {
    background: variables.$whitesmoke;
    border-radius: 2rem;
    margin-bottom: 4rem;
    padding: 1.25rem;
  }
}

i.fa-wheelchair-move {
  margin-right: -1.5rem
}

.container {
  .sidebar .region {
    .views-element-container,
    .search-block-form,
    .navigation {
      border-radius: 2rem;
    }
  }

  > .region-breadcrumb {
    margin-top: -2.2rem;
    line-height: 0;
  }
}

.social-link-field {
  margin-left: -4.5rem;
}

.field--name-field-pronouns {
  margin-bottom: 1.25rem;
}

.views-row {
  .views-field-field-display-name {
    font-size: xxx-large;
    font-weight: 400;
  }

  .views-field-field-pronouns {
    font-weight: 400;
    margin-top: -1.25rem;
  }

  .address {
    font-style: italic;
    line-height: 1.75rem;
  }

  .views-field-field-bio p {
    line-height: 2rem;
  }
}

.region-header nav.navigation li a {
  color: variables.$cornflowerblue;
}

.site-footer__top nav ul.menu {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
  float: left;
}

#footer-wrap {
  display: none;
}

.flexslider.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

body #main {
  padding-top: .5rem;
}

.front-page #header {
  padding-bottom: 0;
}

.oth-share {
  display: inline-flex;
  flex-direction: row;
}
