$seagreen: seagreen;
$lavender: lavender;
$cornflowerblue: cornflowerblue;
$navy: navy;
$royalblue: royalblue;
$white: #fff;
$whitesmoke: whitesmoke;
$black: #000;
$lightgray: lightgray;
$web-fonts-path: "../../../../../web/themes/custom/oth/fontawesome/webfonts";
