<div{{ attributes }}>
  <div{{ content_attributes.addClass(['oth-header']) }}>
    {% block content %}
      Powered by <a href="https://drupal.org" target="_blank"><i class="fa-brands fa-drupal"></i>Drupal</a>
    {% endblock %}
  </div>
</div>
