<div{{ attributes }}>
  <div{{ content_attributes.addClass(['oth-header']) }}>
    {% block content %}
      <i class="fa-light fa-copyright"></i> 2017-{{ 'now'| date('Y') }} Our Travel Home and contributors. All Rights Reserved
    {% endblock %}
  </div>
</div>
