.color-seagreen {
  color: seagreen;
}

.color-lavender {
  color: lavender;
}

.color-cornflowerblue {
  color: cornflowerblue;
}

.color-navy {
  color: navy;
}

.color-royalblue {
  color: royalblue;
}
