.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 10rem 200rem;
  margin-bottom: 2rem;
}

.grid-cell {
  font-weight: bold;
}

/*.grid-cell:first-child {*/
/*  text-align: right;*/
/*}*/
