@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap');

.permanent-marker {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.rock-salt {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.site-logo {
  height: 88px;
  margin-bottom: 6rem;
  max-width: 130px;
  min-width: 88px;
}

.oth-header .site-name {
  font-size: xxx-large;
  line-height: unset;
}

header .oth-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 11rem;
}

footer .oth-header {
  align-content: center;
  color: lightgray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer.site-footer {
  text-align: center;
}

#block-oth-main-menu {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
}

#block-oth-copyright .oth-header,
#block-oth-poweredbydrupal .oth-header {
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: anchor-center;
  display: inline-flex;
}

article .field--name-field-tags.field--type-entity-reference .field__items {
  display: inline-flex;
  gap: .5rem;
}

article .field--name-field-tags.field--type-entity-reference div:first-child {
  margin-right: .5rem;
}

article .field--name-field-tags .field__item {
  border-radius: 6px;
  border: 1px solid black;
  margin-bottom: 1rem;
  width: fit-content;
  padding-left: .5rem;
  padding-right: .5rem;
  background: lavender;
}

article .field--name-field-tags.field--type-entity-reference {
  background: none;
  display: flex;
  flex-direction: row;
}

article .field--name-field-tags.field--type-entity-reference .field__items a {
  background: lavender;
}

article .field--name-field-at-a-glance .field__item span {
  background: lavender;
  border-radius: 6px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: fit-content;
}

article .field--name-field-at-a-glance .grid-cell:nth-child(2) {
  display: inline-flex;
  gap: .5rem;
}

i.fa-wheelchair-move {
  margin-right: -1.5rem
}

article .accessibility {
  background: whitesmoke;
  border-radius: 2rem;
  margin-bottom: 4rem;
  padding: 1.25rem;
}

.container .sidebar .region .views-element-container,
.container .sidebar .region .search-block-form,
.container .sidebar .region .navigation {
  border-radius: 2rem;
}

#block-oth-copyright .oth-header p,
#block-oth-copyright .oth-header sup i {
  color: #fff;
}

.social-link-field {
  margin-left: -4.5rem;
}

.field--name-field-pronouns {
  margin-bottom: 1.25rem;
}

.views-row .views-field-field-display-name {
  font-size: xxx-large;
  font-weight: 400;
}

.views-row .views-field-field-pronouns {
  font-weight: 400;
  margin-top: -1.25rem;
}

.views-row .address {
  color: black;
  font-style: italic;
  line-height: 1.75rem;
}

.views-row .views-field-field-bio p {
  line-height: 2rem;
}

.region-header nav.navigation li a {
  color: cornflowerblue;
}

.site-footer__top nav ul.menu {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
  float: left;
}

#footer-wrap {
  display: none;
}

.oth-header .breadcrumb {
  background: none;
}
